body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  line-height: 1rem;
  font: inherit;
}

html {
  width: 100vw;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active,
a:visited {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

form {
  margin: 0;
}

:focus {
  outline: 0;
}
